@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p,
li,
a {
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    line-height: 1.5;
}

a {

    text-decoration: none;
}

li {
    list-style: none;

}
.btn{
    display: inline-block;
    width: 10rem;
    padding: 1.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}
.header {
    height: 5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        /* background-color: red; */
}

.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    /* background-color: yellow; */

}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48rem;
}
.header .container ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}
.nav-items a{
    color: var(--heading-color);
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.nav-items ::before{
    content: "";
    width: 0%;
    position: absolute;
    bottom: -0.3rem;
    border-bottom: 0.2rem solid var(--main-color);
    transition: all 0.2s linear;
  
}
.nav-items  :hover:before{
    width: 100%;
}

/* hero section    */
.hero{
    margin:0rem 10rem 0rem 11rem;
}
.main{
    background-image: linear-gradient(to top right,#3d86fa,#4484fb,#679eff,#b3d2ff,#ebf3fe);
    position: relative;
    height: 90vh   ;
   
}
.custom-shape-divider-bottom-1711867006 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711867006 svg {
    position: relative;
    display: block;
    width: calc(100% + 0.1px);
    height: 50px;
}

.custom-shape-divider-bottom-1711867006 .shape-fill {
    fill: #FFFFfF;
}
.hero-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 6rem;
    
   
}
.hero-content{
    padding: 5rem;
}
.sub-heading{
    padding-left: 0.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    color: var(--btn-hover-bg-color);
    font-weight: 700;
}
.hero-heading{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: "Jost";
    line-height: 1.5;
    font-weight: 900;
    color: var(--hero-heading-color);
}
.hero-para{
    text-align: justify;
    margin-bottom: 2rem;
    color: var(--white-color);
}
.img{
    /* height: 40rem; */
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}
.common-heading{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
.about-card{
    /* margin-left: rem; */
    height: 25rem;
    width: 30rem;
    /* box-shadow: 1px 1px  black; */
    /* border: 10px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */
}
.common-title{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-size: 1.5rem;
}
.about-card p{
    text-align: justify;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6;

    

}

.img-icon{
    /* margin: 2rem 0 2rem 3.5rem; */
    height: 9rem;
    width: 9rem;
    background-color: var(--supporting-color);
    border-radius: 50%;
}
.img-icon:hover{
    transition-property: all;
    background-image: linear-gradient(to right,#0575e6,#021b79);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    rotate: 360deg;
}

.about-heading{
    margin: 5rem;
}
.about{
    margin-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* explore courses */
.course-heading{
    margin: 5rem;
}
.course{
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    /* gap: 1rem; */
    row-gap: 3rem;

}
.course .about-card{
    /* margin:0rem 1rem 0rem 2rem; */
    height: 21rem;
    width: 22rem;
    padding: 1rem 1rem 1rem 2rem;
}
.course .about-card .img-icon{
    width: 4rem;
    height: 4rem;
}
.course .about-card:hover{
    box-shadow: var(--btn-box-shadow);
    /* border: 10px solid saddlebrown; */
    scale: 1.01;
}
.fa-brands{
    background-color: var(--supporting-color);
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 2.4rem;
    color: var(--hero-heading-color);
}
.fa-solid{
    background-color: var(--supporting-color);
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 2.4rem;
    color: var(--hero-heading-color);
}

.common-subheading{
    margin-bottom: 10rem;
}
.left-side{
    width: 30rem;
    height: 20rem;
    /* border: 1px solid black; */
}
.num{
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;

}
.left-side .why-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;

}
.details{
   font-size: 1.2rem ;
}
.right-side{
    width: 30rem;
    height: 20rem;
    /* border: 1px solid black; */
}
.right-side .why-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;

}
.why-main{
    margin:auto;
    margin-left:7rem;
    display: flex;
    gap:6rem;
}
.img-mobile{
    width: 26rem;
    height: 52.6rem;
}
.why-card{
    margin-bottom: 2rem;
}
.center figure{
    position: relative;

}
.center figure::before{
    content:"";
    position: absolute;
    top:7rem;
    left: -4.5rem;
    height: 35rem;
    z-index:-1;
    width: 35rem;
    border-radius: 50%;
    background-color: var(--main-color);
    animation: circle 5s linear infinite alternate;
}
.center figure::after{
    content:"";
    position: absolute;
    top:5.8rem;
    left: -6rem;
    height: 38rem;
    z-index:-2;
    width: 38rem;
    border-radius: 50%;
    background-color: transparent;
}
@keyframes circle {
    0% {
      background-color: #b3d0ff;
    }
    25% {
      background-color: #80b1ff;
    }
    50% {
      background-color: #4d91ff;
    }
    75% {
      background-color: #99c0ff;
    }
    100% {
      background-color: #3381ff;
    }
  }
  .revolution{
    border-radius: 1rem;
    margin: auto;
    margin-bottom: -15rem;
    position: relative;
    width: 70rem;
    height: 20rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-around;
    box-shadow: var(--btn-box-shadow);
    

  }
  .revolution-text{
    display: flex;
flex-direction: column;
justify-content: center;
align-items:start;

  }
  .revolution-text .btn{
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: center;
    margin-right: 20rem;
  }
  .revolution-text .common-title{
    padding-top: 4rem;
    word-spacing: 1.2;
    padding-left: 1rem;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .revolution-text .common-subheading{
    margin:auto;
    padding-left: 2rem;
  }
  .main-png{
    margin: auto;
    margin-top: 2.3rem;
    width: 29rem;
    height: auto;
    margin-right: 3rem;
  }
  .heading{
    color: rebeccapurple;
  }
  .footer{
    height: 31rem;
    width: 100vw;
    padding-top: 5rem;
    z-index: -1;
    /* background-color: beige; */
  }
  .container-main{
    display: flex;
    justify-content: center;
    /* margin-top:5rem; */
    /* margin-top: 10rem; */
    height: 30rem;
    width: 100vw;
    gap: 15rem;
    padding-top: 14rem;
background-color: #000a19;
  }
  .social{
    display: flex;
    gap: 2rem;
    margin: 2rem 0rem 0rem 0rem;

  }
.social .fa-brands{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    /* text-align: center; */
    background-color: var(--supporting-color);
    border-radius: 50%;
    font-size: 2.5rem;
    /* padding: 2.4rem; */
    color: var(--footer-bg-color);
}
.social .fa-brands:hover{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    rotate: 360deg;
    /* background-color: var(--btn-hover-bg-color); */
}
.container-main .heading{
    color: var(--bg-color);
    margin-bottom: 1rem;
   
}
.container-main .writing{
    color: var(--bg-color);
    
}
.container-main li{
    color: var(--bg-color);
    text-align: right;
    line-height: 1.6;
    
    
}
.blog-section{
    background-color: var(--bg-color);
    margin-bottom: 3rem;

}
.blog-section .container{
    /* margin-top: 2rem; */
    padding-top: 2rem;
    height: 10rem;
    margin-left: 4.2rem;
    margin-bottom: 1rem;

}
.blog{
margin-left: 2rem;
    display: flex;
    justify-content: space-around;
}
.card-blog{
    height: 22rem;
    width: 20rem;

}
.card-blog:hover{
    box-shadow: var(--btn-box-shadow);
    scale: 1.1;
}
.card-blog img{
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.date{
    display: flex;
    text-align: left;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin: 1rem;
    gap: 5rem;
    
}

.both-date-calander{
    display: flex;
    text-align: left;
    gap: 1rem;


}.blog-info{
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1.2rem;
}
.contact-fill{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: -1.2rem;
    height: 42rem;
    width: 50rem;
    /* background-color: plum; */
    /* border: 1px solid black; */
}
.name-and-box{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.email-and-box{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.name-add{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    /* padding-bottom: -1rem; */
    padding-right: 8rem;
    margin :1rem 0rem;
    margin-bottom: 2rem;
}
.details1{
    font-size: 1rem;
    width: 15rem;
    height: 2.4rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: left;
    padding-left: 1rem;
}
.message{
    margin-top: 1.2rem;
   width: 42rem;
    height: 20rem;
    padding-left: 3rem;
    /* text-align: left; */
    /* text-decoration: none; */
}
.message1{
    margin-top: 1.2rem;
   width: 42rem;
    height: 20rem;
    /* padding-left: 3rem; */
    /* text-align: left; */
    /* text-decoration: none; */
}

.contact-fill .btn{
    display: inline-block;
    margin-left: 3rem;
    margin-top: 5rem;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
    width:12rem;
    height:5rem;
    text-align: center;
}
.f{
    font-weight: 800;
}
.contact-div{
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding-right: 4rem;
}
.map-pic{
    width: 50rem;
    height: 42em;
}
.contact-main{
    margin-top: 1rem;
}
.contact-heading{
    height: 10rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: 7.6rem;
}
.subject{
    padding-left: 3rem;
    
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.sub-inp{
    width: 42rem;
    height: 3rem;
}

/* scroll bar */
::-webkit-scrollbar{
    width: 0.8rem;

}
::-webkit-scrollbar-track{
    background-color: var(--supporting-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: black;
    border-radius: 50px;
}
input:focus-visible{
    outline:0.1rem solid var(--footer-bg-color);
}

/* media queries */
@media (width<=700px) {
    .html{
        font-size:37.5%;
    }
    .hero-img{
        width: 90%;
    }
    
}



